---
import IndexPage from "@/layouts/IndexPage.astro";
---

<IndexPage>
  <div>404</div>
  <div>This is entirely your fault. Not mine. I knew where I was going. Now great, let's pull out the GPS...</div>
</IndexPage>
